*{
    padding: 0;
    margin: 0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    background-color: rgb(233, 168, 27);
}

.container-body{
    position:relative;
    width:30%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    
    img{
        position: relative;
        width: 300px;
        height: 300px;
        left:calc(50% - 150px);
        top:calc(50% - 150px);
    }
    button{
        width:45px;
        height:45px;
        border:none;
        outline:none;
        border-radius: 50%;
        background-color: rgb(233, 168, 27);
        color:white;
        font-weight: bold;
        position: absolute;
        bottom:30px;
        left:80%;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    }

    .load{
        position: absolute;
       // background-color: rgb(17, 17, 39);
        width:100%;
        height:100%;
        top:0;
        left:0;
        background-color: #fff;
        z-index: 1;

        img{
            position: relative;
            width:150px;
            height:150px;
            left:calc(50% - 75px);
            top:calc(50% - 75px);
        }
    }
}


.category{
width:100%;
height: 100%;
font-family: Tahoma;
z-index:-1;
.header{
    .h3{
        font-weight: 550;
    }
   
}

.cat{ 
    position: relative;
        a{
            text-decoration: none;
            color:#000;
            .card{
                position:relative;
            text-align: center;
                border:none;
                box-shadow:5px 5px 10px rgba(172, 172, 172, 0.2);
                height: 200px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                img{
                    position: relative;
                    width:50px;
                 height: 50px;
                 left:calc(50% - 25%);
                 top:10px;
                }

                .h5{
                    margin-top: 20px;
                
                }
        }
    }
}
}



@media screen and (max-width:780px){
    .container-body{
        width:100%;
        overflow: hidden;

        .cat{
            a{
                .card{
                    height:170px;
                    font-size: 13px;

                    .h5{
                        font-size: 12px;
                    }
                }
            }
        }
       
    }
}